---
import 'virtual:windi.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>stastro</title>
    <meta name="viewport" content="width=device-width" />
	<script data-no-cookie data-respect-dnt async src="https://cdn.splitbee.io/sb.js" />
  </head>
  <body>
    <slot />
  </body>
</html>
